## LOADING THE DATASET USING PANDAS

In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv('MYNTRA DATA.csv')
df

C:\Users\nayan\AppData\Local\Temp\ipykernel_5364\3055315226.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('MYNTRA DATA.csv')

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,sizes,product_link,img_link,product_tag,brand_tag,discount_amount,discount_percent
0,Croc Textured Two Fold Wallet,Lino Perros,0.0,0,1295,828,Onesize,wallets/lino-perros/lino-perros-women-peach-co...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",wallets,lino-perros,467,36.0
1,Men Striped Sliders,Mast & Harbour,4.0,76,1299,584,"UK6,UK7,UK8,UK9,UK10,UK11",flip-flops/mast--harbour/mast--harbour-men-nav...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flip-flops,mast--harbour,715,55.0
2,Printed A-line Kurta,Biba,4.3,66,1999,1599,"S,M,L,XL,XXL,3XL",kurtas/biba/biba-women-off-white--black-printe...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurtas,biba,400,20.0
3,Girls Floral Printed T-shirt,Anthrilo,0.0,0,599,539,"7-8Y,8-9Y,9-10Y",tshirts/anthrilo/anthrilo-girls-white-floral-p...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",tshirts,anthrilo,60,10.0
4,Women Printed Kurta with Skirt,FASHION DWAR,0.0,0,2899,2899,"S,M,L,XL",kurta-sets/fashion-dwar/fashion-dwar-women-mul...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",kurta-sets,fashion-dwar,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
168024,Ethnic Motifs Kaftan Dress,Soch,0.0,0,3998,3998,"S/M,L/XL",dresses/soch/soch-blue-ethnic-motifs-kaftan-dr...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",dresses,soch,0,0.0
168025,Leather Wedge Sandals with Tassels,fitflop,0.0,0,6799,6799,"EURO36,EURO37,EURO38,EURO39,EURO40",heels/fitflop/fitflop-tan-leather-wedge-sandal...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",heels,fitflop,0,0.0
168026,Leather Wedge Pumps,fitflop,0.0,0,5999,5999,"EURO36,EURO37,EURO38,EURO39,EURO40",heels/fitflop/fitflop-blue-leather-wedge-pumps...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",heels,fitflop,0,0.0
168027,V015 Professional Hair Trimmer,VGR,0.0,0,2695,995,Onesize,trimmer/vgr/vgr-men-v-015-professional-hair-tr...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",trimmer,vgr,1700,63.0
168028,Women Open Toe Flats,daisie,0.0,0,1450,1377,"EURO36,EURO37,EURO38,EURO39,EURO40,EURO41",flats/daisie/daisie-women-grey-printed-open-to...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",flats,daisie,73,5.0

## CLEANING THE DATASET

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168029 entries, 0 to 168028
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   product_name      168029 non-null  object
 1   brand_name        168029 non-null  object
 2   rating            168029 non-null  float64
 3   rating_count      168015 non-null  object
 4   marked_price      168029 non-null  int64
 5   discounted_price  168029 non-null  int64
 6   sizes             168029 non-null  object
 7   product_link      168029 non-null  object
 8   img_link          168029 non-null  object
 9   product_tag       168029 non-null  object
 10  brand_tag         168029 non-null  object
 11  discount_amount   168029 non-null  int64
 12  discount_percent  168009 non-null  float64
dtypes: float64(2), int64(3), object(8)
memory usage: 16.7+ MB

In [3]:
df.isnull().sum()

product_name         0
brand_name           0
rating               0
rating_count        14
marked_price         0
discounted_price     0
sizes                0
product_link         0
img_link             0
product_tag          0
brand_tag            0
discount_amount      0
discount_percent    20
dtype: int64

In [4]:
#deleting columns that are not neccessary for the analysis 
df=df.drop(['sizes','product_link','img_link'],axis=1)

In [5]:
#deleting rows containing none value in rating_count column
df=df.dropna(subset=['rating_count'])
df=df.reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168015 entries, 0 to 168014
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   product_name      168015 non-null  object
 1   brand_name        168015 non-null  object
 2   rating            168015 non-null  float64
 3   rating_count      168015 non-null  object
 4   marked_price      168015 non-null  int64
 5   discounted_price  168015 non-null  int64
 6   product_tag       168015 non-null  object
 7   brand_tag         168015 non-null  object
 8   discount_amount   168015 non-null  int64
 9   discount_percent  167995 non-null  float64
dtypes: float64(2), int64(3), object(5)
memory usage: 12.8+ MB

In [6]:
#replacing discount_percent column's null values by discount pecentage calculated by the percentage formula  
fill=(df['discounted_price']/df['marked_price'])*100
df['discount_percent']=df['discount_percent'].fillna(fill)
df['discount_percent']=df['discount_percent'].round(0)
df

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,product_tag,brand_tag,discount_amount,discount_percent
0,Croc Textured Two Fold Wallet,Lino Perros,0.0,0,1295,828,wallets,lino-perros,467,36.0
1,Men Striped Sliders,Mast & Harbour,4.0,76,1299,584,flip-flops,mast--harbour,715,55.0
2,Printed A-line Kurta,Biba,4.3,66,1999,1599,kurtas,biba,400,20.0
3,Girls Floral Printed T-shirt,Anthrilo,0.0,0,599,539,tshirts,anthrilo,60,10.0
4,Women Printed Kurta with Skirt,FASHION DWAR,0.0,0,2899,2899,kurta-sets,fashion-dwar,0,0.0
...,...,...,...,...,...,...,...,...,...,...
168010,Ethnic Motifs Kaftan Dress,Soch,0.0,0,3998,3998,dresses,soch,0,0.0
168011,Leather Wedge Sandals with Tassels,fitflop,0.0,0,6799,6799,heels,fitflop,0,0.0
168012,Leather Wedge Pumps,fitflop,0.0,0,5999,5999,heels,fitflop,0,0.0
168013,V015 Professional Hair Trimmer,VGR,0.0,0,2695,995,trimmer,vgr,1700,63.0
168014,Women Open Toe Flats,daisie,0.0,0,1450,1377,flats,daisie,73,5.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168015 entries, 0 to 168014
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   product_name      168015 non-null  object
 1   brand_name        168015 non-null  object
 2   rating            168015 non-null  float64
 3   rating_count      168015 non-null  object
 4   marked_price      168015 non-null  int64
 5   discounted_price  168015 non-null  int64
 6   product_tag       168015 non-null  object
 7   brand_tag         168015 non-null  object
 8   discount_amount   168015 non-null  int64
 9   discount_percent  168015 non-null  float64
dtypes: float64(2), int64(3), object(5)
memory usage: 12.8+ MB

In [8]:
# rating_count column contain string value, to find it we have following code
df[~df['rating_count']
      .astype(str)
      .str.replace('.', '', 1)
      .str.isnumeric()]

,product_name,brand_name,rating,rating_count,marked_price,discounted_price,product_tag,brand_tag,discount_amount,discount_percent
216,Women Printed Fringe Cover Ups,URBANIC,0.0,\,1090,981,swimwear,urbanic,109,10.0

In [9]:
# only one row contain a symbol '\', we can delete the entire row
df=df.drop(index=216)

In [10]:
# converting rating_count column data type from object to integer
df['rating_count']=df['rating_count'].astype(int)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 168014 entries, 0 to 168014
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   product_name      168014 non-null  object
 1   brand_name        168014 non-null  object
 2   rating            168014 non-null  float64
 3   rating_count      168014 non-null  int64
 4   marked_price      168014 non-null  int64
 5   discounted_price  168014 non-null  int64
 6   product_tag       168014 non-null  object
 7   brand_tag         168014 non-null  object
 8   discount_amount   168014 non-null  int64
 9   discount_percent  168014 non-null  float64
dtypes: float64(2), int64(4), object(4)
memory usage: 14.1+ MB

## TRANSFERING THE CLEANED DATA TO MYSQL

In [12]:
import pandas as pd
from sqlalchemy import create_engine
import urllib.parse

# Database credentials
username = "root"
password = "@Nayan2897"  # contains special character '@'
host = "localhost"
port = 3306
database = "myntra1"

# URL-encode the password to handle special characters
encoded_password = urllib.parse.quote_plus(password)

# Create SQLAlchemy engine
engine = create_engine(
    f"mysql+pymysql://{username}:{encoded_password}@{host}:{port}/{database}"
)


# Write DataFrame to MySQL
table_name = "data"
try:
    df.to_sql(table_name, engine, if_exists="replace", index=False)
    print(f"Data written to table '{table_name}' successfully.")
except Exception as e:
    print("Error writing to database:", e)

# Read back sample data
try:
    result_df = pd.read_sql("SELECT * FROM customer LIMIT 5;", engine)
    print(result_df)
except Exception as e:
    print("Error reading from database:", e)

Data written to table 'data' successfully.
Error reading from database: (pymysql.err.ProgrammingError) (1146, "Table 'myntra1.customer' doesn't exist")
[SQL: SELECT * FROM customer LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/20/f405)